.container {
    display: flex;
    flex-direction: row;
    font-family: 'Space Mono', monospace;
    justify-content: center;
}


.left {
    display: flex;
    flex-direction: column;
}




.right {
    display: flex;
    flex-direction: column;
    
}


.tip-amount {
    display: flex;
    flex-direction: row;
}



.total {

    display: flex;
    flex-direction: row;
}