body {
    background-color: var(--Light-grayish-cyan-2);
    font-family: "Space Mono", "Courier New", monospace;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
    min-height: 100vh;
    max-width: 1600px;
    width: 100%;
  }



.container {
    display: flex;
    flex-direction: row;
    font-family: 'Space Mono', monospace;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.left {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
  }



.right {
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    
}


.tip-amount {
    display: flex;
    flex-direction: row;
}



.total {

    display: flex;
    flex-direction: row;
}







#person {
    color: hsl(186, 14%, 43%);
}